beautifulsoup4
chromadb
eager
fastapi
google-api-python-client>=2.100.0
html2text
InstructorEmbedding
optimum[habana]
sentence-transformers==2.2.2
uvicorn
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
